<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Environment" value="QA"/>
		<add key="RunEnvironment" value="Local"/>
		<add key="Parallel" value="true"/>
		<add key="ReportDir" value="Reports"/>
		<add key="DeleteOlderScreenshots" value="true"/>
		<add key="URL" value="URL_6"/>
	</appSettings>
</configuration>